---
services:
  cloudflared:
    image: {{ cloudflared_tunnel_image }}
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN={{ cloudflared_tunnel_token }}
    networks:
      - {{ cloudflared_tunnel_network_name }}

networks:
  {{ cloudflared_tunnel_network_name }}:
    external: true
