---
services:
  openresty:
    image: {{ openresty_compose_image }}
    container_name: {{ openresty_compose_container_name }}
    restart: unless-stopped
    ports:
      - "{{ openresty_compose_port }}:80"
    volumes:
      - ./conf/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./auth/users.htpasswd:/etc/nginx/auth/users.htpasswd:ro
      - ./html:/usr/local/openresty/nginx/html:ro
