<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ openresty_html_index_title }}</title>
</head>
<body>
  <h1>{{ openresty_html_index_heading }}</h1>
</body>
</html>
