---
services:
  postgresql:
    image: {{ postgresql_image }}
    container_name: {{ postgresql_container_name }}
    restart: unless-stopped
    environment:
      POSTGRES_DB: {{ postgresql_db }}
      POSTGRES_USER: {{ postgresql_user }}
      POSTGRES_PASSWORD: {{ postgresql_password }}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - {{ postgresql_network_name }}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  postgres_data:

networks:
  {{ postgresql_network_name }}:
    external: true
